 <!-- About Section -->
    <section class="success" id="about-me">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Who I Am</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I have been a community volunteer for as long as I have lived in
                        Maryland. I have been on the Columbia Association’s budget committee
                        and later sat on the Art Center Advisory Board. I have also worked
                        on land use issues for many years, serving on the Howard County
                        Board of Appeals since 2011 and the 2019&mdash;2020 Charter Review 
                        Commission.</p>
                    <p>I also worked extensively on the Long
                        Reach Village Center Master Plan, a plan to return the village
                        center to vibrancy. I know very well what both good and bad community
                        planning looks like. I am well prepared to address the challenges
                        that face Baltimore and Howard Counties.</p>
                </div>
                <div class="col-lg-4">
                    <p>I volunteer for the Maryland Defense Force, a volunteer state agency
                        that provides support to the Maryland National Guard and Maryland
                        Emergency Management Agency in times of emergency. I believe
                        strongly in the security of our state and nation from all threats,
                        seen and unseen.</p>
                    
                    <p>I have a doctorate in public policy from the University of Maryland
                        Baltimore County where my research focused on the economic and
                        social effects of flood insurance. I also have a master of public
                        administration from the University of Baltimore and a bachelor’s
                        degree in mathematics from the University of Maryland.</p>
                </div>
            </div>
        </div>
    </section>
