
    <!-- platform Grid Section -->
    <section id="platform">
        <div class="container platform-flex-grid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What&nbsp;I Stand&nbsp;For</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="platform-flex-row">
                {% assign n = site.platforms | size %}
                {% assign random_platforms = site.platforms | sample: n %}
                {% for platform in random_platforms %}
                    <div class="platform-flex-item platform-item">
                        <a href="#platformModal-{{ platform.modal-id }}" class="platform-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/platform/{{ platform.img }}" class="img-responsive" alt="{{ platform.alt }}">
                            <h3>{{ platform.title }}</h3>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>